:root{
    /* color-txt */
  --main-cl: #212121;
  --accent-txt-cl: #757575;  
  /* bg-color */
  --main-bg-cl: #ffffff;
  /* link-color */
  --main-link-cl: #2196F3;
  /* font-family */
 
}


/* header */
.page{
color: var(--main-cl);   
color: var(--accent-txt-cl);
background-color: var(--main-bg-cl);
color: var(--main-link-cl);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
text-decoration: none;
}
   
.web-color{
    color: var(--main-link-cl);
   
}
.studio-color{
    color: #000000;   
}
.link-list-borow{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;   
   
}
.active:visited{
    color: var(--main-link-cl);
}


.link-list-item:hover,
.link-list-item:focus{
    color: var(--main-link-cl);
    text-decoration: none; 
}
.link-list-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-cl); 
    text-decoration: none;
    
}
.contact-list-item:hover,
.contact-list-item:focus{   
    color: var(--main-link-cl);
    text-decoration: none;
    list-style-type: none;
}
.contact-list-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-txt-cl);
    text-decoration: none;
    
}
.contact-item{
    list-style-type: none;  
}
/* MAIN */
/* section text main */
.text-main{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align:  center;
    color: #FFFFFF;
    
    
}
.section-text{
    background-color: #2F303A;
}
/* button-index */
.button-type-index{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;
    border: 0;
}
.button-type-index:active{
background-color: #188CE8;
}
/* section feature */
.feature-list{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.feature-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-cl);
}
.feature-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}
/* personal */
.section-personal{
   background-color: #F5F4FA; 
}
.personal-name{
list-style-type: none;

}
.personal-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-cl);
}
.personal-work{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}
/* FOOTER */
.footer{
    background-color: #2F303A;
}
.footer-logo{
text-decoration: none;
color: #000000;
}
.footer span{
    color: var(--main-link-cl);
}
.addres-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    list-style-type: none;
}
/* PORTFOLIO */
/* button */
.type-button-portfolio{
    list-style-type: none;
    background-color: var(--main-bg-cl);
    color: var(--main-cl);  
}
.type-button-portfolio-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    background-color: #F5F4FA;
    color: var(--main-cl);
}
.type-button-portfolio-item:hover,
.type-button-portfolio-item:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
/* title */
.title-portfolio{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--main-cl);  
}
.paragraph-portfolio{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}
.link-list-portfolio{
    list-style-type: none;
}