.root{
  --main-cl: #212121;

}


/* header */
.body{
color: var(--main-cl);   
}
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
text-decoration: none;
}
   
.web-color{
    color: #2196F3;
   
}
.studio-color{
    color: #000000;
    
}
.link-list-borow{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;   
   
}
.link-list-item:hover,
.link-list-item:focus{
    color: #2196F3;
    text-decoration: none; 
}
.link-list-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    
}
.contact-list-item:hover,
.contact-list-item:focus{   
    color: #2196F3;
    text-decoration: none;
    list-style-type: none;
}
.contact-list-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    
}
.contact-item{
    list-style-type: none;  
}
/* MAIN */
/* section text main */
.text-main{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align:  center;
    color: #FFFFFF;
    
    
}
.section-text{
    background-color: #2F303A;
}
.button-type{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;
    border:none
}
/* section feature */
.feature-list{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.feature-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.feature-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
/* personal */
.section-personal{
   background-color: #F5F4FA; 
}
.personal-name{
list-style-type: none;

}
.personal-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.personal-work{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/* footer */
.footer{
    background-color: #2F303A;
}
.footer-logo{
text-decoration: none;
color: #000000;
}
.footer span{
    color: #2196F3;
}
.addres-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    list-style-type: none;
}