:root{
    /* color-txt */
  --main-cl: #212121;
  --accent-txt-cl: #757575;  
  --secondary-txt-cl: #ffffff;
  --tertiary-txt-cl: #000000;
  /* bg-color */
  --main-bg-cl: #ffffff;
  --accent-bg-cl: #F5F4FA;
  --tertiary-bg-cl: #2F303A;
  /* link-color */
  --main-link-cl: #2196F3;
  --accent-link-bg-cl: #188CE8;

 
}
/* header */
.page{
color: var(--main-cl);   
color: var(--accent-txt-cl);
color: var(--main-link-cl);
color: var(--accent-link-cl);
color: var(--secondary-txt-cl);
color: var(--tertiary-txt-cl);
background-color: var(--main-bg-cl);
background-color: var(--accent-link-bg-cl);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
background-color: #F5F5F5;
}
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
text-decoration: none;
}
   
.web-color{
    color: var(--main-link-cl);
   
}
.studio-color{
    color: var(--tertiary-txt-cl); 
}
.link-list-borow{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;     
}
.active:visited{
    color: var(--main-link-cl);
}
.link-list-item:hover,
.link-list-item:focus{
    color: var(--main-link-cl);
    text-decoration: none; 
}
.link-list-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--main-cl); 
    text-decoration: none;
    
}
.contact-list-item:hover,
.contact-list-item:focus{   
    color: var(--main-link-cl);
    text-decoration: none;
    list-style-type: none;
}

.contact-list-item{
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1px;
    letter-spacing: 0.02em;
    color: var(--accent-txt-cl);
    text-decoration: none;
       
}
.contact-item{
    list-style-type: none;  
}
/* MAIN */
/* section text main */
.text-main{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.45;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align:  center;
    color: #FFFFFF;   
}
.section-text{
    background-color: #2F303A;
}
/* button-index */
.button-type-index{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;
    border: 0;
}
.button-type-index:active{
background-color: #188CE8;
}
/* section feature */
.section-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-cl);
}

.feature-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-cl);
}
.feature-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;   
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}
/* personal */
.section-personal{
   background-color: #F5F4FA; 
}
.personal-name{
    list-style-type: none;

}
.personal-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-cl);
}
.personal-work{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}
/* FOOTER */
.footer{
    background-color: #2F303A;
}
.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;


    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--secondary-txt-cl);
}
.footer span{
    color: var(--main-link-cl);
}
.addres-name{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    list-style-type: none;
}
.addres-name-item{
    color: #FFFFFF;
    text-decoration: none;
}
.addres-name-item:hover,
.addres-name-item:focus{
color: var(--main-link-cl);
}
/* PORTFOLIO */
/* button */

.type-button-portfolio{
    list-style-type: none;
}
.type-button-portfolio-item{
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    background-color: #F5F4FA;
    color: var(--main-cl);
}
.type-button-portfolio-item:hover,
.type-button-portfolio-item:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
/* title */
.title-portfolio{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-cl);  
}
.paragraph-portfolio{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}
.link-list-portfolio{
    list-style-type: none;
}
.link-work-item{
    text-decoration: none;
}
.footer-contact-list-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contact-list-item:hover,
.footer-contact-list-item:focus{
color: #2196F3;   
}

